.careerDevContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-image: url("../../../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
}