.mentorshipContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url("../../../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding: 20px;
}

.mentorshipContentContainer h1 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	margin: 0;
	padding-bottom: 1.5vw;
}

.mentorshipContentContainer h3 {
	font-size: calc(2.5px + 1.2vw);
	margin: 0;
	padding-bottom: 1.5vw;
}

.mentorshipContentContainer p {
	font-size: calc(1px + 1.2vw);
	margin: 0;
}

.mentorshipContentContainer div {
	padding-bottom: 1.5vw
}