.mentorshipContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url("../../../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding-bottom: 2vw;
}

.mentorshipContentContainer {
	padding-left: 2vw;
	padding-top: 1vw;
}

.mentorshipContentContainer div {
	padding-top: 1vw;
}

.mentorshipContentContainer h1 {
    padding-bottom: 1vw;
    font-weight: bold;
    font-size: calc(0.25rem + 2vw);
}

.mentorshipContentContainer h3 {
    font-weight: bold;
    font-size: calc(1.55vw)
}