.internshipsContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding: 20px;
}

.internshipsContainer h1 {
	color: #1F363D;
	font-weight: 900;
	padding-bottom: 2vw;
}

.internshipsContainer p {
	padding-bottom: 4vw;
	width: 40vw;
}

.internshipsCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.internshipsCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	height: 20vw;
	background: white;
}

.internshipsCardContent {
	height: 20vw;
	width: 35vw;
	padding: 25px 0px 0px 25px
}

.internshipsCardContent h1 {
	color: #3F798C;
	font-weight: bolder;
}

.internshipsCardImage {
	border: 1px solid black;
	height: 20vw;
	width: 35vw;
}

.internshipsCardImageStyle {
	height: 20vw;
	width: 35vw;
}

.internshipFormContainer {
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.internshipFormTitleContainer {
	padding-top: 2vw;
}