.internshipsContainer {
	background: linear-gradient(110deg, #CFE0C5, #BBE3C3, #A7D1CB);
	padding: calc(1.5rem + 2vw) 5vw 15px 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.internshipsContainer h1,
.internshipsContainer h2 {
	color: #1F363D;
	font-weight: 900;
	padding-bottom: 1vw;
	font-size: calc(10px + 1.5vw);
}

.internshipsContainer p {
	padding-bottom: 1.5vw;
	font-size: calc(1px + 1.75vw);
}

.internshipsFormContainer {
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.internshipsTitleContainer h1,
.internshipsTitleContainer h2 {
	font-size: calc(5px + 1.75vw);
}

.internshipsDescriptionContainer p {
	font-size: calc(1px + 1.2vw);
}

.internshipsFormTitleContainer {
	font-size: calc(1px + 1.75vw);
	padding-top: 2vw;
}

.only-mobile {
	display: none;
}
.only-desktop {
	display: flex;
}

@media (max-width: 750px) {
	.only-mobile {
		display: flex;
	}
	.only-desktop {
		display:none;
	}
	
	.internshipsContainer {
		background-image:none;
		background-color:white;
		padding-top: 35px;
	}
	
	.internshipsGetInvolved h1 {
		display: flex;
		font-size: calc(7px + 2.5vw); 
		color: #033C26;
		font-weight: 700;
		padding-bottom: 0vw;
		padding-left: 1.3vw;
		text-align: left;
		width: 96vw;
	}
	.internshipsGetInvolved img {
		height: fit-content;
	}
	.internshipsTitleContainer h1 {
		font-weight: 700;
		font-size: calc(15px + 1.5vw);
		color: #3F798C;
		margin-bottom: 1rem;
	}
	.internshipsDescriptionContainer p {
		width: 100%;
		font-size: calc(10px + 1.5vw);
		color: black;
		padding-top: 4vw;
	}
	.thinSeparator {
		padding: none;
		width: 100%;
		height: 1px;
		background-color: #ddd;
	  }

	.internshipsContainer h2 {
		font-size: calc(15px + 1.5vw);
	}
	.internshipsContainer p {
		width: 100%;
	}
	.internshipsCardContainerMobile h1{
		font-weight: bold;
	}
	.internshipsCardContainerMobile{
		display:block;
	}

	.internshipsFormTitleContainer {
		font-size: calc(1rem + 1.5vw);
		padding: 0px,20px;
	}
	.internshipsFormContainer {
		padding:0px, 20px ;
	}

	.homeIconAndInternships {
		display: flex;
		align-items: center;
	}
}