.internshipsContainer {
  background-image: url("../../images/background_green.jpg");
  background-size: cover;
  background-position: center;
  padding: calc(1.5rem + 2vw) 75px 15px 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.internshipsContainer h1,
.internshipsContainer h2 {
  color: #1F363D;
  font-weight: 900;
  padding: 0 75px 2vw 75px;
}

.internshipsContainer p {
  padding: 0 75px 2vw 75px;
  font-size: calc(1px + 1.2vw);
}

.internshipsCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 0 75px;
}

.internshipsFormContainer {
  padding: 2vw 75px;
}

.internshipsTitleContainer h1,
.internshipsTitleContainer h2,
.internshipsFormTitleContainer {
  font-size: calc(10px + 1.5vw);
}

.internshipsDescriptionContainer p {
  font-size: calc(1px + 1.2vw);
}

.only-mobile { display: none; }
.only-desktop { display: flex; }