.volunteerContainer {
  background-image: url("../../images/background_green.jpg");
  background-size: cover;
  background-position: center;
  padding: calc(1.5rem + 2vw) 75px 15px 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.volunteerContainer h1,
.volunteerContainer h2 {
  color: #1F363D;
  font-weight: 900;
  padding: 0 75px 2vw 75px;
}

.volunteerContainer p {
  padding: 0 75px 2vw 75px;
  font-size: calc(1px + 1.2vw);
}

.volunteerCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 0 75px 2vw;
}

.volunteerFormContainer {
  padding: 2vw 75px;
}

.volunteerTitleContainer h1,
.volunteerTitleContainer h2,
.volunteerFormTitleContainer {
  font-size: calc(10px + 1.5vw);
}

.volunteerDescriptionContainer p {
  font-size: calc(1px + 1.2vw);
}

.only-mobile { display: none; }
.only-desktop { display: flex; }