.volunteerContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 95px;
	padding-left: 20px;
	padding-right: 20px;
}

.volunteerContainer h1 {
	color: #1F363D;
	font-weight: 900;
	padding-bottom: 2vw;
}

.volunteerContainer p {
	padding-bottom: 4vw;
	width: 40vw;
}

.volunteerCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}

.volunteerCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	height: 20vw;
	background: white;
}

.volunteerCardContent {
	height: 20vw;
	width: 35vw;
	padding: 2.5vw 0px 0px 2.5vw
}

.volunteerCardContent h1 {
	color: #3F798C;
	font-weight: bolder;
	font-size: calc(10px + 1.75vw);
}

.volunteerCardContent p {
	font-size: calc(1px + 1.75vw);
}

.volunteerCardImage {
	border: 1px solid black;
	height: 20vw;
	width: 35vw;
}

.volunteerCardImageStyle {
	height: 20vw;
	width: 35vw;
}

.volunteerFormContainer {
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.volunteerTitleContainer h1 {
	font-size: calc(10px + 1.75vw);
}

.volunteerDescriptionContainer p {
	font-size: calc(1px + 1.75vw);
}

.volunteerFormTitleContainer {
	font-size: calc(1px + 1.75vw);
	padding-top: 2vw;
}

@media (max-width: 750px) {
	.volunteerContainer {
		padding-top: 35px;
	}
}