.imgContainer {
	display: flex;
	justify-content: space-around;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
}

.textContainer {
	display: flex;
	align-items: center;
}

.volunteerContainer {
	padding-top: calc(1rem + 16vw);
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-position: center;
}