.imgContainer {
	display: flex;
	justify-content: space-around;
}

.missionTextContainer {
	max-width: 40rem;
	padding: 3rem;
}

.missionTextContainer h1 {
	margin-bottom: 1rem;
}

.missionTextContainer p {
	font-size: 1.2rem
}

.program {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.programContainer {
	padding-top: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-position: center;
}

.programGallery {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.programGalleryContainer {
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.programImage {
	max-width: 7rem;
	max-height: 7rem;
}

.textContainer {
	display: flex;
	align-items: center;
}