.programsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding-top: calc(1rem + 2vw);
	padding-left: 75px;
	padding-right: 20px;
}

.indivProgramTextContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.indivProgramContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	padding-top: 35px;
	width: 50vw;
}

.indivProgramContainer h1 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	margin: 0;
}

.indivProgramContainer p {
	font-size: calc(1px + 1.2vw);
}

.programsHeader h1 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
}

.programsHeader p {
	font-size: calc(1px + 1.2vw);
}

.contactUsBoxContainer {
	padding-right: 10px;
}

.programDescription {
	width: 50vw;
	text-align: justify;
}

.programTitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding-bottom: 10px;
}

@media (max-width: 750px) {
	.programsContainer {
		padding-top: 35px;
	}
}