.linkedInLink {
  text-decoration: none;
	color: black;
	font-weight: bold;
}

.profileContainer {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-evenly;
  width: 75vw;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(25vw - 10px);
  margin: 5px;
  margin-bottom: 5vw;
}

.profile div {
  font-size: calc(0.1rem + 1.1vw);
}

.profile a {
  font-size: calc(0.1rem + 1.25vw);
}

.profileImage {
  height: calc(14vw);
  width: calc(14vw);
  margin-bottom: 1vw;
}

.galleryHeader {
  padding-bottom: 2vw;
}

.galleryHeader h1 {
  padding-top: 2vw;
  font-size: calc(10px + 1.75vw);
}

.galleryHeader div {
  font-size: calc(1px + 1.75vw);
}

/* Adjustments for smaller screens */
@media screen and (max-width: 750px) {
  .profile {
    flex: 1 1 calc(100% - 10px);
  }

  .profileImage {
    height: calc(30vw);
    width: calc(30vw);
    margin-bottom: 1vw;
  }

  .profile a {
    font-size: calc(0.1rem + 4vw)
  }

  .profile div {
    font-size: calc(0.1rem + 2.4vw);
  }

  .galleryHeader h1 {
    text-align: center;
    font-size: calc(10px + 3.4vw);
  }

  .galleryHeader div {
    text-align: center;
    font-size: calc(10px + 1.75vw);

  }
}