.contactContainer {
    background-image: url("../../images/background_green.jpg");
    background-size: cover;
    background-position: center;
    padding: calc(1.5rem + 2vw) 20px 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactContainer h1 {
    font-weight: 750;
    margin: 0;          
    font-size: calc(1.375rem + 1.5vw);
    padding-left: 75px;
    padding-right: 20px;
}

.contactContainer p {
    /* width: 575px; */
    width: 100%;
    max-width: 600px;      
    margin: 0;
    font-size: 20px;
    padding-left: 75px;
    padding-right: 20px;
}

.contactContainer h3 {
    /* width: 575px; */
    width: 100%;
    max-width: 600px;      
    margin: 0;
    font-size: 20px;
    padding-left: 75px;
    padding-right: 20px;
}

.inputContainer {
    display: flex;
    gap: 20px;
}

.submitButton {
    text-align: center;
    border-radius: 10px;
    background: #f2af60;
    border: 0.2vw solid #f2af60;
    font-size: calc(0.3rem + 0.5vw + 0.5vh);
    width: 8vw;
    padding-left: 75px;
    padding-right: 20px;
}

.submitButton:hover {
    background: orange
}

input, textarea{
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

textarea {
    height: 100px;
    width: 390px;
}

@media screen and (max-width: 768px){
    
    input{
        width: 100%;  
        gap: 10px;
    }

    .contactContainer h1 {
        padding: 15px;
        width: 222px;
        height: 20px;
        top: 194px;
        left: 24px;
        font-size: 20px;
    }

    .contactContainer p {
        width: 334px;
        height: 96px;
        top: 3349px;
        left: -3863px;
        font-size: 18px;
    }


    .submitButton {
        width: 141px; 
        height: 41px;
        border-radius: 10px;
        font-size: 18px;
    }

    textarea {
        width: 100%;
    }
}