.contactContainer {
	padding-top: 12em;
}

.imgContainer {
	display: flex;
	justify-content: space-around;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
	background: #C5EBC4;
}

.textContainer {
	display: flex;
	align-items: center;
};