.homeContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carouselContainer {
	padding-top: 20px;
	max-width: 80vw;
	margin-bottom: 6vw;
}

.carouselSlide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5vw;
}

.imgContainer {
	display: flex;
	justify-content: space-around;
}

.missionTextContainer {
	padding-top: 1vw;
	padding-left: 3vw;
	padding-bottom: 5vw;
	width: 90vw;
}

.missionTextContainer h1 {
	font-size: calc(0.5rem + 2vw);
	margin-bottom: 1vw;
	font-weight: bold;
}

.missionTextContainer p {
	font-size: 1.2vw;
	width: 45vw;
}

.program {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.program h3 {
	font-size: calc(0.25rem + 2vw);
}

.programContainer {
	padding-top: calc(1rem + 12vw);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
}

.programGallery {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.programGalleryContainer {
	padding-left: 3vw;
	padding-bottom: 2vw;
}

.programGalleryContainer h1 {
	font-size: calc(0.5rem + 2vw);
	font-weight: bold;
	padding-bottom: 2vw;
}

.programImage {
	max-width: 7vw;
	max-height: 7vw;
}