.homeContainer {
	padding-top: 12rem;
	background: #C5EBC4;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
}

.textContainer {
	display: flex;
	align-items: center;
}

.carouselSlide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}