.homeContainer {
	padding-top: 12rem;
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-position: center;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
}

.textContainer {
	display: flex;
	align-items: center;
}

.carouselSlide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}