.ourStoryPage {
    background-image: url("../../../images/background_white.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 95px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 12.75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourStoryTitle {
    font-size: calc(5px + 3vw);
    padding-bottom: 4vw;
}

.ourStoryDesc {
    font-size: calc(5px + 1vw);
}

@media (max-width: 750px) {
    .ourStoryPage {
        padding-top: 35px;
    }
}

/*Mobile responsive our story*/
@media screen and (max-width: 750px) {
    .ourStoryTitle {
        font-size: calc(5px + 8vw);
    }

    .ourStoryDesc {
        font-size: calc(5px + 2vw);
    }
}