.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
	font-size: calc(0.25rem + 1vw);
}

.donate {
    background: #7eb67c;
    height: 3vw;
	width: 12vw;
	border-radius: 1vw;
}

.donate:hover {
	background: #5b8259;
}

.isActive {
	color: #5b8259;
}

.logo {
	height: 9vw;
  	width: 15vw;
}

.navigationContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #FFFFFF;
}