.imgContainer {
	display: flex;
	justify-content: space-around;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
	background: #C5EBC4;
}

.resourcesContainer {
	padding-top: 12rem;
}

.textContainer {
	display: flex;
	align-items: center;
}