.imgContainer {
	display: flex;
	justify-content: space-around;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
}

.resourcesContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
}

.textContainer {
	display: flex;
	align-items: center;
}

@media (max-width: 750px) {
	.resourcesContainer {
		padding-top: 35px;
	}
}