.event-details-container {
    background-image: url("../../../../images/background_white.jpg");
    background-size: cover;
    background-position: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    font-size: 2rem;
    color: #033C26;
    text-align: center;
}

.event-date,
.event-location {
    font-size: 1.1rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin: 8px 0;
}

.event-description {
    margin: 25px auto;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;   
    padding: 0 10px;
    color: #333;
}

.event-description h3 {
    margin-top: 20px;
    color: #033C26;
}

.event-description ul {
    margin-left: 20px;
    line-height: 1.5;
}

.back-button {
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background: #70A9A2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back-button:hover {
    background-color: #5b8c85;
}
