.arrow {
	max-height: 15px;
	max-width: 15px;
}

.dropdown div {
	cursor: pointer;
	padding-left: 7px;
}

.engIcon {
	padding-left: 7.36px;
	padding-right: 7.36px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.headerContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background: #C5EBC4;
}

.languageButton {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 50px;
	padding-right: 10px;
	position: relative;
}

.languageContainer {
	position: relative;
	height: 50px;
}

.mngIcon {
	padding-left: 4.68px;
	padding-right: 4.68px;
	padding-top: 13px;
	padding-bottom: 13px;
}