.header div {
    font-size: calc(0.25rem + 2vw);
    font-weight: bolder;
    text-decoration: solid underline #3e798c 10px;
}

.contactInfo div {
    font-weight: bolder;
    font-size: calc(0.25rem + 2vw);
}

.contactInfo {
    padding-top: 1vw;
}
