.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw
}

.footerPageLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65vw;
    padding: 1vw;
}

.footerSocialsLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50vw;
    padding-right: 9vw;
}

.footerLinkContainer {
    display: flex;
    flex-direction: column;
    width: 16.66vw;
}

.footerLinkContainer a {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    padding: 0.2vw;
}

.footerLinkContainer h3 {
    font-size: calc(2vw);
    padding-bottom: 0.5vw;
    padding-top: 7px;
    white-space: nowrap;
}

.footerSocialsBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30vw;
}

.footerSocialsBarContainer h3{
    font-size: 2.2vw;
    margin: 0;
    text-align: center;
    padding-top: 0.1vh;
    padding-right: 1vw;
    white-space: nowrap;
}

.officialLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 37vw;
}

.officialLinksContainer a {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

.officialLinksContainer div {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

@media (max-width: 700px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
    } 
    .footerPageLinksContainer {
        width: 100%;
        margin-bottom: 20px;
    }
    .footerPageLinksContainer .footerLinkContainer h3 {
        font-size: 3vw;
    }
    .footerPageLinksContainer .footerLinkContainer a {
        font-size: 2vw;
    }
    
    .footerSocialsBarContainer {
        width: 50vw;
    }


    /* Footer socials link for newsletter start from here :) */
    .footerSocialsLinksContainer {
        width: 100%;
        padding: 0px;
        align-items: center;
    }
    .footerSocialsLinksContainer div {
        padding-bottom: 8px;
        padding-right: 5px;
    }
    .footerSocialsBarContainer h3 {
        font-size: 3vw;
    }
    .subscriptionContainer .emailInput {
        height: 7vw;
        font-size: calc(0.2rem + 1.5vw) !important;
    }
    .subscriptionContainer button {
        height: 7vw;
        font-size: calc(0.2rem + 1.5vw) !important;
        width: 12vw;
    }
    .officialLinksContainer div {
        font-size: calc(0.2rem + 1vw) !important;
        justify-content: center;
    }
    .officialLinksContainer a {
        font-size: calc(0.2rem + 1vw) !important;
    }
}