.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.footerPageLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65vw;
    padding: 1vw;
}

.footerSocialsLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50vw;
    padding-right: 9vw;
}

.footerLinkContainer {
    display: flex;
    flex: 0 0 auto;
    margin: 0;
    flex-direction: column;
    width: 16.66vw;
}

.footerLinkContainer a {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    padding: 0.2vw;
    width: 38%;
}

.footerLinkContainer h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5vw;
    padding-top: 7px;
    white-space: nowrap;
}

.footerSocialsBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerSocialsBarContainer h3 {
    font-size: 2.2vw;
    margin: 0;
    text-align: center;
    padding-top: 0.1vh;
    padding-right: 1vw;
    white-space: nowrap;
}

.officialLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 37vw;
}

.officialLinksContainer a {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

.officialLinksContainer div {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

.mobile-officialLinksContainer {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 37vw;
}

.mobile-officialLinksContainer a {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

.mobile-officialLinksContainer div {
    font-size: calc(0.2rem + 0.8vw);
    text-decoration: none;
    color: black;
    min-width: 10.5vw;
}

.footerPageLinksContainer > .footerLinkContainer:nth-child(2) {
  margin-left: -5vw;
}

@media (max-width: 750px) {
    .footerContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .footerPageLinksContainer {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 25px;
        justify-content: start;

    }

    .footerLinkContainer {
        padding-right: 120px;
    }

    .footerPageLinksContainer .footerLinkContainer h3 {
        font-size: 3vw;
    }

    .footerPageLinksContainer .footerLinkContainer a {
        font-size: 2vw;
    }



    /* Footer socials link for newsletter start from here :) */
    .footerSocialsLinksContainer {
        width: 100%;
        padding: 0px;
        align-items: flex-start;
        margin-left: 25px;
        margin-top: 25px
    }

    .footerSocialsLinksContainer div {
        padding-bottom: 8px;
        padding-right: 5px;
    }

    .footerSocialsBarContainer h3 {
        font-size: 5vw;
    }

    .subscriptionContainer .emailInput {
        height: 6vw;
        font-size: calc(0.2rem + 1.5vw) !important;
        width: 50vw;
    }

    .subscriptionContainer button {
        height: 6vw;
        font-size: calc(0.2rem + 1.5vw) !important;
        width: 15vw;
    }

    .officialLinksContainer {
        width: 80%;
        margin-top: 10px;
        padding: 0px;
        display: none;
    }

    .officialLinksContainer div {
        font-size: calc(0.2rem + 2vw) !important;
        justify-content: center;
        margin-right: 15px;
    }

    .officialLinksContainer a {
        font-size: calc(0.2rem + 2vw) !important;
        padding-right: 25px
    }

    .mobile-officialLinksContainer {
        display: flex;
        flex-direction: row;
        margin: 20px;
        width: 100%;
        justify-content: start;
    }

    .mobile-officialLinksContainer a {
        font-size: calc(0.2rem + 2vw) !important;
        padding-right: 25px;
    }

    .mobile-officialLinksContainer div {
        font-size: calc(0.2rem + 2vw) !important;
    }
}