.resumeBoostContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url("../../../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.resumeBoostContentContainer h1 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	margin: 0;
	padding-bottom: 1.5vw;
}

.resumeBoostContentContainer h2 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	margin: 0;
	padding-bottom: 1.5vw;
}

.resumeBoostContentContainer h3 {
	font-size: calc(2.5px + 1.2vw);
	margin: 0;
	padding-bottom: 1.5vw;
}

.resumeBoostContentContainer p {
	font-size: calc(5.59px + 1.2vw);
	margin: 0;
	padding-bottom: 3vw;
}



.resumeBoostContentContainer ul {
	font-size: calc(5.59px + 1.2vw);
	margin: 0;
	padding-bottom: 3vw;
}

.resumeBoostContentContainer div {
	padding-bottom: 1.5vw
}

.mobile-only {
	display: none
}

.mobile-desktop {
	display: flex
}


@media only screen and (max-width: 768px) {
	.mobile-only {
		display: flex
	}

	.mobile-desktop {
		display: none
	}

	.resumeBoostContentContainer ul {
		font-size: calc(5px + 1.75vw);
		margin: 0;
		padding-bottom: 3vw;
	}

	.resumeBoostContainer {
		padding-top: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: white !important;
		background-image: none !important;
		background-size: cover;
		width: 100%;
		background-size: cover;
		background-position: center;
		min-height: 50vh;
	}


	.resumeBoostContainer h1 {
		font-size: calc(7px + 1.75vw);
		font-weight: 900;
		padding-top: 10px;
		color: #033C26;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.resumeBoostContainer h3 {
		font-size: calc(7px + 1.75vw);
		padding-top: 10px;
		font-weight: 900;
		display: flex;
		flex-direction: column;
		color: #033C26;
		width: 100%;
	}

	.resumeBoostContainer h2 {
		font-size: calc(7px + 1.75vw);
		padding-top: 10px;
		color: #033C26;
		font-weight: 900;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.resumeBoostContainer p {
		font-size: calc(5px + 1.75vw);
		padding-top: 5px;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.resumeBoostContentContainer {
		font-size: calc(5px + 1.75vw);
		font-weight: bold;
		width: 100%;
	}

	.resumeboost-header {
		font-size: calc(7px + 2.5vw);
		font-weight: 700;
		padding-bottom: 0vw;
		padding-left: 1.3vw;
		padding-top: 4vw;
		text-align: left;
		width: 96vw;
	}

	.homeIconAndResumeBoost {
		display: flex;
		align-items: center;
		width: 102%;
		margin: 0;
		padding: 0;
		gap: 0rem;
	}

	.icon {
		transform: scale(1);
		transform-origin: center;
		margin: 0;
	}

	.resumeIcon {
		display: flex;
		max-width: 100%;
	}

	.icon2 {
		transform: scale(1);
		transform-origin: left;
		max-width: 100%;
	}


}