.resumeBoostContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url("../../../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 95px;
	padding-left: 20px;
	padding-right: 20px;
}

.resumeBoostContentContainer h1 {
	font-size: calc(5px + 1.75vw);
	font-weight: bold;
	margin: 0;
	padding-bottom: 1.5vw;
}

.resumeBoostContentContainer h3 {
	font-size: calc(2.5px + 1.2vw);
	margin: 0;
	padding-bottom: 1.5vw;
}

.resumeBoostContentContainer p {
	font-size: calc(1px + 1.2vw);
	margin: 0;
}

.resumeBoostContentContainer div {
	padding-bottom: 1.5vw
}

@media (max-width: 750px) {
	.resumeBoostContainer {
		padding-top: 35px;
	}
}