.aboutContainer {
	background-image: url("../../../images/background_white.jpg");
	background-size: cover;
	background-position: center;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.imgContainer {
	display: flex;
	justify-content: space-around;
}

.infoContainer {
	display: flex;
	justify-content: space-around;
}

.textContainer {
	display: flex;
	align-items: center;
}