.blogContainer {
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;
	padding: calc(1.5rem + 2vw) 20px 15px 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.blogCardContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background: white;
	border-radius: 1vw;
	padding: 1vw;
	width: 60vw;
	height: 17vw;
}

.blogThumbnail {
	width: 15vw;
	height: 15vw;
	border-radius: 1vw;
}

.blogCardTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2vw;
	height: auto;
	padding-right: 2vw;
	max-height: 10vw;
	width: 45vw;
}

.blogCardTextContainer h3 {
	font-size: calc(0.1rem + 1.4vw);
	font-weight: bold;
}

.blogCardTextContainer p {
	font-size: calc(1.3vw);
	line-height: 1.2;
}

.blogTitleContainer {
	padding-top: 1vw;
	text-align: left;
	width: 96vw;
	font-size: calc(5px + 2.5vw)
}

.blogCardsContainer {
	display: flex;
	flex-direction: column;
	gap: 17px;

}

.mobile-only {
	display: none
}

.mobile-desktop {
	display: flex
}

@media only screen and (max-width: 768px) {

	.mobile-only {
		display: flex
	}

	.mobile-desktop {
		display: none
	}

	.blogCardContainer {
		flex-direction: column;
		width: 100vw;
		height: auto;
		padding: 5vw;
		gap: 10px;
	}

	.blogContainer {
		background-image: url("../../images/background_white.jpg");
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.blogThumbnail {
		width: 80vw;
		height: 80vw;

	}

	.blogCardHeader h3 {
		font-weight: bold;
		font-size: calc(0.6rem + 3vw);
		text-align: left;
		margin-bottom: 10px;
		max-height: 100vw;
	}

	.blogCardTextContainer {
		width: 80vw; 
		padding-left: 0.1vw; 
		height: auto; 
		padding-top: 2vw;
		width: 80vw;
		padding-left: 3vw 4vw;
		height: auto;
		max-height: 90vw;
	}

	.blogCardTextContainer h3 {
		font-size: calc(.5rem + 3.5vw); 
		color: 	#9EC1A3;
		font-weight: 400;
		padding-bottom: 2vw;
	}

	.blogCardTextContainer p {
		font-size: calc(5vw);
	}

	.blogTitleContainer {
		font-size: calc(10px + 2.5vw); 
		color: #3F798C;
		font-weight: 700;
		padding-bottom: .1vw;
		padding-left: 3vw;
		padding-top: 3vw;
		text-align: left;
		width: 96vw;
	}

	.blogCardsContainer {
		border-top: 2px solid #0000001F;
		gap: 10px;
	}

	.homeIconAndResources {
		display: flex;
		align-items: center;
	}

	.resources-header {
		font-size: calc(10px + 2.5vw); 
		color: #033C26;
		font-weight: 700;
		padding-bottom: 0vw;
		padding-left: 1.3vw;
		padding-top: 3vw;
		text-align: left;
		width: 96vw;
	}

	.icon {
		transform: scale(1);
		transform-origin: center;
		margin: 0;
	}

	.homeIconAndResources {
		width: 102%;
		gap: 0rem;
	}

}