.workshopsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/background_white.jpg");
}

.workshopsCardContainer {
    width: 80%;
}

.workshopsCardTextContainer {
    padding: 20px;
}

.workshopsCardTextContainer h2 {
    padding-bottom: 20px;
}

.team-image {
    margin: 20px auto;
}

.workshopsTitleContainer {
    font-size: calc(16px + 2.5vw);
}

@media (max-width: 768px) {
    .workshopsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding: 10px;
    }

    .workshopsCardContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border-radius: 1vw;
        padding: 1vw;
        width: 90%;
        margin: 10px 0;
    }

    .workshopsCardTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1vw;
        width: 100%;
        text-align: left;
    }

    .team-image {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        border-radius: 10px;
    }
}