@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.app {
    font-family: "Inter";
}

.pageContainer {
    padding-top: calc(0.05rem + 12vw);
}

.pinnedHeader {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.pinnedSupportPopup {
    position: fixed;
    bottom: 3vw;
    right: 1vw;
    background: #9EC1A3;
    padding: 1vw;
    border-radius: 1.5vw;
    z-index: 1000;
}