.eventsContainer {
	padding-top: calc(1rem + 12vw);
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}