.eventsContainer {
	padding-top: 20px;
	padding-left: 2vw;
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}