.eventsContainer {
	padding-top: 1.5vw;
	background-image: url("../../images/background_green.jpg");
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}