.resumeBlogContainer {
	padding-top: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-image: url("../../../../images/background.jpg");
	background-size: cover;
	background-position: center;
}

.resumeBlogWrapper {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
	margin-bottom: 5rem;
	margin-top: 4rem;
	border-radius: 5rem;
}

.resumeBlogContainer h1 {
	padding: 1rem;
	font-weight: bold;
}


.resumeBlogContainer h3 {
	padding-top: 2rem;
	font-weight: bold;
}

.resumeBlogContainer p {
	padding-top: 2rem;
	padding-left: 20rem;
	padding-right: 20rem;
}