.resumeBlogContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-image: url("../../../../images/background.jpg");
	background-size: cover;
	background-position: center;
}

.resumeBlogWrapper {
	display: flex;
	flex-direction: column;
	background: #fbfbfb;
	justify-content: space-evenly;
	align-items: center;
	width: 75vw;
	margin-bottom: 5vw;
	margin-top: 4vw;
	border-radius: 5vw;
}

.resumeBlogContainer h1 {
	font-size: calc(0.5rem + 2vw);
	padding: 1vw;
	font-weight: bold;
}


.resumeBlogContainer h3 {
	font-size: calc(0.15rem + 2vw);
	padding-top: 2vw;
	font-weight: bold;
}

.resumeBlogContainer p {
	padding-top: 2vw;
	padding-left: 20vw;
	padding-right: 20vw;
	font-size: 1.2vw;
}