.modalOverlay.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalOverlay.loginModal .modalContent {
  background: white;
  padding: 2vw;
  border-radius: 10px;
  width: 280px; 
  max-width: 280px;
  text-align: center;
  position: relative;
}

.modalOverlay.loginModal .modalContent h2 {
  font-weight: 600;
  margin-bottom: 1vw;
  font-size: calc(10px + 1.5vw);
  padding-top: 1vw;
}

.modalOverlay.loginModal .closeButton {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  border: none;
  background: none;
  font-size: calc(5px + 1.5vw);
  cursor: pointer;
  color: #969696;
}

.modalOverlay.loginModal .modalContent input {
  width: 100%;
  padding: 0.5vw;
  margin: 0.5vw 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modalOverlay.loginModal .loginButton {
  background: #70A9A2;
  color: white;
  border: none;
  padding: 0.6vw 2vw;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}
